@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-8;
  }
}

@layer base {
  body {
    @apply font-sedan;
  }
}

@media (max-width: 480px) {
  .custom-smaller {
    width: 30%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: overlay;
  font-family: "Jaro", sans-serif;
  cursor: default;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.experienceHeader {
  color: #f0d5f5;
  font-size: 1.72rem;
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(203, 3, 222, 0.3); /* Adjust the shadow values as needed */
}

.experienceCompany {
  color: #ffffff;
  font-size: 1.1rem;
  text-shadow: 5px 2px 5px rgba(191, 37, 205, 0.3);
}

.experienceBody {
  color: #fff;
  font-size: 1rem !important;
  font-weight: 100;
}

.experienceBackground {
  background: rgb(181, 211, 248);
}

/* 
 #93f7bc, #b5d3f8, #f0d5f5
 green ,  blue   , pink
*/

::-webkit-scrollbar {
  display: none;
}
