@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-8;
  }
}

@layer base {
  body {
    @apply font-sedan;
  }
}

@media (max-width: 480px) {
  .custom-smaller {
    width: 30%;
  }
}

#mainBranch {
  width: 1.625rem;
  background-color: rgba(255, 255, 255, 0.73);
  height: 30rem;
  transition: 0.5s;
  margin: 0 0.6rem;
  border-radius: 25px;
}

.subBranchClass {
}

/* Colours Used 
Gradients: 
- Background bg-gradient-to-r from-blue-500 to-blue-200
- Headers bg-gradient-to-r from-red-400 to-yellow-200 

Main Colours:



*/
