@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-8;
  }
}

@layer base {
  body {
    @apply font-sedan;
  }
}

@media (max-width: 480px) {
  .custom-smaller {
    width: 30%;
  }
}

body {
  font-family: "Jaro", sans-serif;
  cursor: default;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.experienceHeader {
  color: #f7d3eafa;
  font-size: 1.72rem;
  font-weight: 400;
}

.experienceCompany {
  color: #ffffff;
  font-size: 1.1rem;
}

.experienceBody {
  color: #fff;
  font-size: 1.3rem !important;
  font-weight: 100;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-text {
  background: linear-gradient(270deg, #f0d5f5, #b5d3f8, #60a5fa, #b4d4fc);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animated-gradient-text-section {
  background: linear-gradient(270deg, #ecc4f3, #9bc4f6, #60a5fa, #f4bcef);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
